<div class="mt-4">
    <h2>Dang khoa hoc</h2>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Ten khoa hoc</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">videoId</label>
            <input type="text" class="form-control" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trinh do</label>
            <input type="text" class="form-control" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>